$rose: #f1caca;
$rose-d: #d79090;
$gold: #c8b188;
$black: #0c0c0c;
$white: #ffffff;

$tablet-br: 991px;
$tablet-min-br: 767px;
$mobile-br: 575px;
$mobile-mid-br: 468px;
$mobile-min-br: 350px;

$minPb1200: 1200px;
$minPb992: 992px;
$minPb768: 768px;
$minPb576: 576px;