<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__icons">
                <a href="https://instagram.com/adagio_lingerie/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://facebook.com" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://youtube.com" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__rights">
        <h5>ADAGIO © All Rights Reserved - 2021</h5>
    </div>
</footer>