.guide__top {
    margin-bottom: 3rem;
    background-color: #f8e6e6;
}

@media (max-width: 991px) {
    .guide__top {
        margin-bottom: 2rem;
    }
}

.guide__header {
    padding: 2rem 0;
    text-align: center;
}

.guide__header > h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.guide__header > h5 {
    font-size: 1.5rem;
    font-weight: 300;
}

.guide__content {
    margin-bottom: 4rem;
}

.content-item {
    margin-bottom: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .content-item {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.content-item > img {
    width: 50%;
}

@media (max-width: 991px) {
    .content-item > img {
        margin-bottom: 2rem;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .content-item > img {
        width: 100%;
    }
}

.content-text {
    width: 45%;
}

@media (max-width: 991px) {
    .content-text {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .content-text {
        width: 90%;
    }
}

.content-text > h2 {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .content-text > h2 {
        margin-bottom: 1rem;
    }
}

@media (max-width: 468px) {
    .content-text > h2 {
        font-size: 2rem;
    }
}

.content-text > ul {
    list-style-type: disc;
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width: 468px) {
    .content-text > ul {
        font-size: 1.4rem;
    }
}

.content-text > ul li span {
    text-decoration: underline;
}